body {
	padding:7% 30%;
	background: #111110;
	color:#cccccf;
}

textarea{ border:1px solid #999999; width:100%; margin:5px 0; padding:3px; } .textareacontainer{ padding-right: 8px; /* 1 + 3 + 3 + 1 */ } 

textarea {
	background:#222221;
	color:#eeeeef;
	border:none;
}

#submitbutton {
	float:right;
}

#post {
	font-size:24pt;
}
